doctype html
html( lang='en' )
	head
		block head
			meta( charset='utf-8' )
			meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
			meta( name='viewport', content='width=device-width' )

			title [#{resume.user.name}] resume 2014-2015

			link( rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,700,300' )
			link( rel='stylesheet', href='css/layout.min.css' )
			link( rel='stylesheet', href='css/global.css' )
			//- script( src='js/jquery.min.js' )
			//- script( src='js/app.js' )
			script.
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-58831899-1', 'auto');
				ga('send', 'pageview');

	body
		header.header

			h1.ttl.header-ttl #{resume.user.name}

			figure.header-pic 
				img(src="../img/me.jpg").img.header-pic-img

			ul.lst.header-contact-lst
				each link, i in resume.user.links
					li.itm.header-contact-itm
						a(href="#{link}").lnk.header-contact-lnk #{i}

		aside.mission
			blockquote.mission-quote.mission-quote-ethics #{resume.mission}
			blockquote.mission-quote.mission-quote-philosophy #{resume.quote}
			blockquote.mission-quote.mission-quote-skills #{resume.skills}

		main.posts
			h2.ttl.posts-ttl Work History

			each role, i in resume.timeline
				article.post
					header.post-header
						h3.ttl.post-header-ttl-company #{role.company}

						ul.lst.post-header-role-lst
							li.itm.post-header-role-lst-itm.post-header-role-position( itemprop="jobTitle" ) 
								h4 #{role.position}
							li.itm.post-header-role-lst-itm.post-header-role-duration #{role.start} - #{role.end}
						
					section.post-description
						p #{role.description}

						h5.ttl.post-related-ttl project work:
						ul.lst.post-related-lst
							each project in role.projects
								li.itm.post-related-itm
									a.lnk.post-related-lnk(itemprop="url", href="http://#{ project }") #{ project }
