doctype html
html( lang='en' )
	head
		block head
			meta( charset='utf-8' )
			meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
			meta( name='viewport', content='width=device-width' )

			title #{resume.user.name} [ resume #{ new Date().getFullYear() } ]
			link( rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,900' )
			link( rel='stylesheet', href='./css/global.css' )
			//- <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
			script( src="https://code.jquery.com/jquery-3.6.3.min.js", integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=", crossorigin="anonymous" )
			//- <!-- Magnific Popup core JS file -->
			script( src="./js/jquery.magnific-popup.js" )

			script.
				$(document).ready(function() {
					$('.samples__listitemlink').magnificPopup({
						type:'image',
						removalDelay: 300,
						mainClass: 'mfp-fade',
						gallery: {
							enabled: true,
							preload: [1,3],
							navigateByImgClick: true,
							arrowMarkup: '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%"></button>', // markup of an arrow button
							tPrev: 'Previous (Left arrow key)', // title for left button
							tNext: 'Next (Right arrow key)', // title for right button
							tCounter: '<span class="mfp-counter">%curr% of %total%</span>' // markup of counter
						}
					});
				});

			script.
				(function(i,s,o,g,r,a,m){
					i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},
					i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];
					a.async=1;
					a.src=g;
					m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				ga('create', 'UA-58831899-1', 'auto');
				ga('send', 'pageview');

	body#top
		header.header
			.header--wrap
				h1.header__title #{resume.user.name}
				h2.header__subtitle #{ resume.user.description }

			ul.header__contact-list
				each link, i in resume.user.links
					li.header__contact-listitem
						a( href= link ).header__contact-listitem--link #{i}

		aside.mission
			h2.mission__title Mission
			blockquote.mission__quote #{resume.mission}

		main.main
			h2.main__title Experience

			section.main__post
				each role, i in resume.timeline
					article.main__post-list
						header.main__post-header
							h3.main__post-header--company #{role.company} 
							h4.main__post-header--role  #{role.position}
							p.main__post-header--duration #{role.start} - #{role.end}

						section.main__post--description
							p #{role.description}

							//- if role.projects
							//- 	h5.main__post--description-title project work:
							//- 	ul.main__post--description-list
							//- 		each project in role.projects
							//- 			li.main__post--description-listitem
							//- 				a.main__post--description--listitemlink(itemprop="url", href="http://#{ project }") #{ project }
		section.samples#samples
			h2.samples__title Project Work
			.samples__content
				h5.mt-0.tt-cap.font-weight-normal case studies
				ul.cases__list
					each study, i in resume.cases
						li.cases__listitem
							a( href= study, target=_blank ).cases__listitem--link #{i}
				h5.mt-0.tt-cap.font-weight-normal work samples
				ul.samples__list
					each sample, i in resume.samples
						li.samples__listitem
							a(href="./img/samples/" + sample ).samples__listitemlink
								img( src="./img/samples/thumb-" + sample ).samples__listitemlink-img

		section.skills#skills
			h2.skills__title Skills
			.skills__content
				blockquote.skills__quote--philosophy #{resume.quote}
				blockquote.skills__quote--skills #{resume.skills}

	a 
		back to top